:root {
    --mauve: #7530e3;
    --rose: #e1afcc;
    --vert: #5dac9c;
    --gris: #D9D9D9;
    --noir: #000000;
}

.logo {
    width: 100px;
    
}

.navbar {
    background-color: var(--vert);
}
/*----- Styles Généraux -----*/
/*----- Section Hero -----*/