/*----- Styles Généraux -----*/

*{
  padding: 0%;
  margin: 0%;
}

.navbar {
  background-color: var(--vert);
}

.burger {
  border-radius: 100%;
  background-color: var(--vert);
  border: 2px solid var(--noir);
}

.lignes-burger {
  width: 80%;
}

.logo {
  padding-top: 10%;
  width: 100%;
}


.profil{
  background-color: var(--gris);
  border-radius: 100%;
}

/*----- Section Hero -----*/