/*----- Styles Généraux -----*/

* {
  padding: 0;
  margin: 0;
  font-family: Michroma;
}

body {
  background-color: var(--noir);
  height: 100vh;
  width: 100vw;
}

/*p {
  font-size: smaller;
}*/

.navbar {
  width: 100vw;
  /*background-color: var(--vert);*/
  padding: 0%;
}

.navbar-vert {
  background-color: var(--vert);
}

.burger {
  background-color: var(--vert);
  border: 3px solid rgba(0, 0, 0, 1);
  border-radius: 50%;
  height: 8vh;
}

/*.back-button{
  position: flex;
  justify-content: center;
  align-items: center;
}*/

.lignes-burger {
  width: 90%;
}

.logo {
  width: 80%;
  background-repeat: no-repeat;
}

.lien-logo {
  padding: 0%;
  margin: 0%;
  border: none;
}


.profil {
  background-image: linear-gradient(var(--rose), var(--gris));
  border-radius: 50%;
  height: 8vh;
  padding: 0%;
  overflow: hidden;
}

.photo-profil {
  height: 100%;
  width: 100%;
  background-image: url(/assets/artworks/logo/photo_profil.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

/*.bi-person-fill{
  height: 100%;
  width: 100%;
}*/

.bas-de-page {
  height: 16vh;
  width: 100vw;
  background-color: var(--vert);
  bottom: 0px;
  font-size: 80%;
}

.tim {
  width: 40%;
  height: auto;
}

.container-fluid {
  margin: 0;
  padding: 0%;
}

.row {
  padding: 0%;
}

.row-navbar {
  width: 100%;
}

.bi {
  color: var(--vert);
}

.bi-chevron-right {
  color: var(--mauve);
}

.bi-chevron-left {
  color: var(--noir);
  font-size: 250%;
}

/*.bi-chevron-left::before{
  margin-top: 40%;
}*/

.bi-heart {
  color: var(--noir);
  font-size: 250%;
}

.bi-heart.purple {
  color: var(--mauve);
  fill: var(--mauve);
}

.bi-person {
  color: var(--noir);
  font-size: 500%;
  /*top: -40%;
  left: -10%;*/
}

/*.bi-person-fill::before{
  position: relative;
  top: 0%;
  margin-bottom: 50%;
}*/

/*.search-filtre {
  position: absolute;
  top: 10vh;
  width: 100vw;
}*/

.search {
  color: var(--vert);
  background-image: linear-gradient(var(--rose), var(--gris));
  border: 0;
  font-size: 70%;
}

.search-bar {
  border: 0;
  background-color: var(--noir);
  max-width: 85vw;
}

.input-group-text {
  background-image: linear-gradient(var(--rose), var(--gris));
  margin: 0%;
  border: 0;
}

.recherche {
  width: 100%;
}

.section-filtres {
  width: 100vw;
}

/*.swiper-filters{
  
}*/

.swiper-slide.slide-filtre {
  width: auto;
}

.swiper-slide.slide-vedette {
  width: auto;
}

.list-group-item {
  padding: 0%;
  border: 0;
  margin: 1%;
  background-color: var(--noir)
}

.btn-primary {
  background-image: linear-gradient(var(--rose), var(--gris));
  border: 0;
  color: var(--vert);
  white-space: nowrap;
}

.btn-secondary {
  background: none;
  border-color: var(--mauve);
}

@media screen and (min-width: 575px) {

  .section-filtres {
    width: 100vw;
  }

}

img {
  background-repeat: no-repeat;
}

.card {
  background-image: linear-gradient(var(--rose), var(--gris));
  border: none;
  overflow: hidden;
}

.card:hover {
  background-image: linear-gradient(var(--mauve), var(--rose));
}

.cadre-oeuvre {
  height: 20vh;
  width: 100%;
  text-align: center;
  /*background-color: white;*/
}

.image-oeuvre {
  height: 20vh;
}

.autre-image{
  height: 20vh;
  aspect-ratio: 1/1;
  width: 120%;
  object-fit: cover;
}

#vedette {
  overflow: hidden;
  /*width: 140%;
  width: 100vw;
  overflow: hidden;*/
}

.vedette-cards {
  max-width: 200px;
  /*overflow: hidden;*/
}

/*main{
  overflow-x: hidden;
}*/

.bouton-aime {
  background-color: var(--vert);
  border-radius: 50%;
  height: 8vh;
  padding: 0%;
}

.image-artwork-wrapper {
  height: 33vh;
}

.image-artwork {
  height: 35vh;
}

header {
  /*height: auto;*/
  width: 100vw;
}

/*.accordion-button.p*/
.accordion-artwork {
  background: none;
  color: var(--vert);
  border: none;
}

/*.accordion-button.p.accordion-artwork::after{
  color: var(--vert);
}*/

.accordion-item {
  background: none;
  border-color: var(--vert);
  overflow: hidden;
}

.accordion-artwork:not(.collapsed) {
  background-image: linear-gradient(var(--rose), var(--gris));
  color: var(--mauve);
  box-shadow: none;
}

.modal-content {
  background-image: linear-gradient(var(--rose), var(--gris));
}

.modal-header {
  border: none;
}

.modal {
  display: none;
}

.modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-vedette{
  width: 100vw;
}

/*----- Section Hero -----*/