/*----- Styles Généraux -----*/

*{
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: var(--vert);
}

.burger {
  border-radius: 100%;
  background-color: var(--vert);
  border: 2px solid var(--noir);
}

.lignes-burger {
  width: 60%;
}

.logo {
  padding-top: 10%;
  width: 100%;
}


.profil{
  background-image: linear-gradient(var(--rose), var(--gris));
  border-radius: 100%;
}

footer{
  position: absolute;
  background-color: aqua;
  bottom: 0px;
}

.bas-de-page{
  position: absolute;
  background-color: var(--vert);
  bottom: 0px;
}

.tim{
  width: 100%;
}

/*----- Section Hero -----*/