:root {
    --mauve: #7530e3;
    --rose: #e1afcc;
    --vert: #5dac9c;
    --gris: #D9D9D9;
    --noir: #000000;
}

*{
    font-family: "Michroma";
}

.logo {
    width: 100px;
    
}

body {
    background-color: var(--noir);
}

main{
    margin-top: 85px;
}

.navbar {
    background-color: var(--vert);
}

footer {
    background-color: var(--mauve);
    
}
/*----- Styles Généraux -----*/
/*----- Section Hero -----*/

.cadre {
    aspect-ratio: 5/9;
    box-shadow: 0 0 13px 13px rgba(217, 217, 217, 0.6);
    border-radius: 15px;
    padding: 0;
    margin: 0;
    height: 1050px;
}

.hero {
    background-color: var(--vert);
    border-radius: 15px;
    width: 100%;
    height: 40px;
}

.box_fonctinalite {
    width: 75%;
    background-color: var(--rose);
    border-radius: 15px;
    height: 100%;
}

hr {
    color: var(--vert);
    border-width: 5px;
    border-radius: 15px;
    opacity: 100%;
}

.sous-titre{
    color: var(--vert);
}

iframe {
    border-radius: 15px;
}

ul{
    margin: 0;
    padding: 0;
}

img {
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 100%;
}

.accordion-item .accordion-header {
    background-color: var(--bs-success);
}

.accordion-item .accordion-header .accordion-button {
    color: var(--bs-dark);;
}




.accordion-item:first-of-type .accordion-header{
    border-radius: 5px 5px 0 0 ;
    border: 4px solid var(--bs-secondary);
}

.accordion-item:nth-of-type(2) .accordion-header, .accordion-item:nth-of-type(3) .accordion-header{
    border: 4px solid var(--bs-secondary);
    
}

.accordion-item:last-of-type .accordion-header{
    border-radius: 0 0 5px 5px ;
    border: 4px solid var(--bs-secondary);
}

.accordion-body{
    background-color: var(--bs-secondary); 
}

.accordion-button{
    background-color: var(--bs-success); 
}


.accordion-item:last-of-type .accordion-body{
    border-radius: 0 0 5px 5px ;
    border: 4px solid var(--bs-secondary);
}

#infolettre {
    background-color: rgba(var(--bs-secondary-rgb), 0.65);
}

#background-info {
    background-image: url(../assets/artworks/image/art1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 6/2;
}


.email-input {
    position: relative;
    display: inline-block;
    border: 2px solid var(--bs-secondary);
    border-radius: 5px;
}


.email {
    border: 0;
}

section{
    background-color: var(--bs-dark);
    background-image: linear-gradient(var(--bs-dark), var(--bs-success));
    background-position: center;
    background-repeat: repeat-y;
    background-blend-mode: hard-light;
    padding: 0;
    margin: 0;
   
}

.slider-img{
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

.swiper-slide{
    border: 5px solid var(--bs-success);
    border-radius: 27px;
}

.swiper-wrapper{
    aspect-ratio: 5/3;
}


.swiper-slide-prev {
    opacity: 50%;
    height: 85%;
}

.swiper-slide-next {
    opacity: 50%;
    height: 85%;
}

#FAQ {
    aspect-ratio: 9/3;
}