$light:        #bfe5df;
$dark:         #201d40;
$primary:      #f36b62;
$secondary:    #5f5f71;
$info:         #20b4a8;
$success :     #63af0e;
$warning :     #ffc377;
$danger :      #f60568;

$theme-colors: (
    "light":      #bfe5df,
    "dark":       #201d40,
    "primary":    #f36b62,
    "secondary":  #5f5f71,
    "info":       #20b4a8,
    "success":    #63af0e,
    "warning":    #ffc377,
    "danger":     #f60568,
);

@import '../vendors/bootstrap-5.3.2/scss/bootstrap.scss'

:root {
    --mauve: #7530e3;
    --rose: #e1afcc;
    --vert: #5dac9c;
    --gris: #D9D9D9;
    --noir: #000000;
}